@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&family=Work+Sans:wght@300;400;600&display=swap');

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    overflow-x: hidden;
}

/* html {
    -webkit-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
    scroll-behavior: smooth;
} */

:root {
    --title-ff: 'Sansita Swashed', cursive;
    --body-ff: 'Work Sans', sans-serif;
    
    --light: 300;
    --regular: 400;
    --bold: 600;
    --black: 800;

    --primary-red: #C71F10;
    --primary-green: #3D5D2E;
    --primary-yellow: #FCCA5F;
}

body {
    background-color: #F9F7E5;
    font-family: var(--body-ff);
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.7rem;
    font-family: var(--title-ff);
    font-weight: var(--black);
    color: var(--primary-green);
}

p {
    font-size: 1.2rem;
    font-weight: var(--regular);
    line-height: 1.5em;
    max-width: 50ch;
}

header {
    padding: 1rem 1rem;
    width: 100vw;
    position: fixed;
}

header img {
    width: 4rem;
}

header nav a{
    color: var(--primary-green);
    text-decoration: none;
    display: flex;
    font-weight: var(--bold);
    font-size: 1.6rem;
}

.hero__container {
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0 2rem;
}

.hero__container .hero__title {
    color: white;
    margin-bottom: 3.5rem;
    max-width: 467px;
}

.hero__container .hero__exp {
    color: white;
    margin-bottom: 3.5rem;
    max-width: 500px;
}

.cta {
    font-family: var(--body-ff);
    font-weight: var(--light);
    font-size: 1.2rem;
    background-color: var(--primary-red);
    border: 0;
    padding: 0.8em 1.25em;
    color: white;
    transition: ease 0.3s;
    cursor: pointer;
}

.cta a {
    text-decoration: none;
    color: white;
}

.cta:hover {
    background-color: #380909;
}

.fixed__cta {
    width: 60px;
    background-color: var(--primary-red);
    position: fixed;
    top: calc(88vh);
    left: calc(100vw - 120px);
    border-radius: 100%;
    z-index: 100;
    cursor: pointer;
    transform: scale(1.2);
    transition: ease 0.5s;
}

.fixed__cta:hover {
    transform: scale(1.4);
}

.fixed__cta svg {
    margin: 20px;
    margin-bottom: 17px;
}

/* Main section starts here */

.about-us {
    padding: 3rem 2rem;
    padding-top: 5rem;
    padding-left: 2rem;
}

.about-us img {
    -webkit-box-shadow: 5px 10px 20px;
    -ms-box-shadow: 5px 10px 20px;
    -o-box-shadow: 5px 10px 20px;
    box-shadow: 5px 10px 20px;
    z-index: -100;
}

@media screen and (min-width: 300px) {
    header {
        background-color: #fcca5f71;
        display: grid;
        grid-template-columns: min-content 1fr max-content;
        align-items: center;
        justify-content: space-between;
        transition: ease 0.3s;
    }

    header img {
        grid-column: 1/2;
    }

    header nav ul {
        display: none;
    }

    .overlay {
        height: 0;
        width: 100vw;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        opacity: 0;
        background-color: black;
        background-color: #000000;
        overflow-x: hidden;
        transition: ease 0.2s;
    }

    .overlay__content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 1.875rem;
    }

    .overlay__content a {
        padding: 8px;
        display: block;
        color: #818181;
        transition: 0.3s;
    }

    .showParent {
        height: 100vh;
        opacity: 100%;
    }

    .menu-btn {
        grid-column: 4/5;
        justify-self: end;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        cursor: pointer;
        transition: .5s ease-in-out;
        z-index: 1500;
        margin-right: 1.5rem;
    }
    
    .menu-btn__burger {
        width: 30px;
        height: 6px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: .5s ease-in-out;
    }
    
    .menu-btn__burger::before,
    .menu-btn__burger::after {
        position: absolute;
        content: '';
        width: 30px;
        height: 6px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: .5s ease-in-out;
    }
    
    .menu-btn__burger::before {
        transform: translateY(-10px);
    }
    
    .menu-btn__burger::after {
        transform: translateY(10px);
    }
    
    /* Animation */
    
    .menu-btn.open .menu-btn__burger {
        transform: translate(-50px);
        background-color: transparent;
        box-shadow: none;
    }
    
    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    
    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    /* Hero section */

    .hero__container {
        background-position: left bottom;
        padding: 10em 1.2rem;
        padding-left: 8.125%;
        padding-bottom: 8.5em;
    }

    .mico {
        width: 130px;
        margin-bottom: 1.2rem;
    }

    /* Main section starts here */
    .about-us img {
        width: 70%;
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 4rem;
        display: inline-block;
    }

    .about-us__exp {
        display: inline-block;
        margin-bottom: 2rem;
    }

    .about-us + img {
        display: none;
    }

    /* Menu starts here */

    .menu__title-container {
        background-color: #FCCA5F48;
        padding: 1em 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 1.4rem;
    }

    .menu__title {
        position: relative;
    }

    .menu__title::after {
        content: '';
        display: block;
        position: absolute;
        top: 1.5em;
        height: 2px;
        background-color: var(--primary-red);
        width: 100%;
        z-index: -1;
    }

    .container__soko-item {
        display: flex;
        flex-flow: column wrap;
        padding: 0 1.2rem;
        margin-bottom: 5em;
        z-index: -1;
    }

    .container__soko-item img {
        max-width: 300px;
        margin: 0 auto;
        z-index: -1;
        transition: ease 0.4s;
    }

    .container__soko-item img:last-of-type {
        margin-bottom: 1.5rem;
    }

    .title__soko-item {
        margin: 1em auto;
        position: relative;
    }

    .group_soko {
        display: flex;
        flex-flow: column nowrap;
    }

    .title__soko-item::before {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        top: -0.8em;
        position: absolute;
        background-color: var(--primary-red);
        z-index: -1;
    }

    .explanation__soko-item {
        margin: 0 auto;
        text-align: center;
        max-width: 50ch;
    }

    /* Green banner starts here */
    .banner {
        margin-bottom: 5rem;
    }

    .banner__caption {
        font-size: 2rem;
        text-align: center;
        padding: 8em 0.5em;
        padding-top: 1em;
        line-height: 1.2em;
        z-index: 1;
        color: white;
        background-image: url(../assets/green-bg-banner-bottom.jpg);
        background-size: cover;
        background-position: center top;
    }

    .banner__caption span {
        display: inline-block;
    }

    /* Testimony starts here */

    .testimoni__title {
        position: relative;
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    .testimoni__title::after {
        content: '';
        display: block;
        position: absolute;
        top: 1.5em;
        left: 1em;
        height: 2px;
        background-color: var(--primary-red);
        width: 80%;
        z-index: -1;
    }

    .testimoni__item {
        background-color: var(--primary-green);
        color: #F9F7E5;
        padding: 1.5rem;
        border-radius: 10px;
        width: 325px;
        margin: 3rem auto;
    }

    .testimoni__item:last-of-type {
        margin-bottom: 5rem;
    }

    .bio__container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: min-content 1fr;
        grid-gap: 0 1rem;
        margin-bottom: 1rem;
    }

    .bio__container img {
        width: 100px;
        grid-row: span 2;
        align-self: center;
    }

    .bio__container .name {
        grid-column: 2;
    }

    .bio__container address {
        grid-column: 2;
    }

            /* carousel */

            .testimoni__title {
                margin-bottom: 4rem;
            }
    
            .testimoni__item {
                margin-left: 2rem;
                width: 33%;
                min-width: 300px;
                max-width: 320px;
                counter-increment: testimoni__item;
            }
    
            .testimoni__items {
                background-color: rgba(250, 223, 148, 0.644);
            }
    
            .flickity-page-dots {
                bottom: 30px;
            }

            .testimoni__exp {
                font-size: 1.25rem;
            }

    /* Section Why Us starts here */

    .why-us .title_container {
        background-color: #FCCA5F48;
        padding: 1em 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 3rem;
    }

    .why-us__title {
        position: relative;
    }

    .why-us__title::after {
        content: '';
        display: block;
        position: absolute;
        top: 1.5em;
        height: 2px;
        background-color: var(--primary-red);
        width: 100%;
        z-index: -1;
    }

    .alasan {
        margin: 0 auto;
        margin-bottom: 2rem;
        display: flex;
        flex-flow: column nowrap;
        width: 90vw;
        align-items: center;
    }
    
    .alasan > * {
        margin: 1rem 0;
        text-align: center;
    }

    .alasan img {
        width: 60%;
        max-width: 500px;
        border-radius: 10px;
        box-shadow: 5px 7px 15px;
    }

    .btn__container {
        width: 100vw;
        padding: 0 calc(100vw/2 - 103px);
        margin-bottom: 3rem;
    }

    /* Footer section starts here */

    footer {
        background-color: var(--primary-green);
    }

    .hubungi-kami {
        padding: 3rem;
    }

    .hubungi-kami h1 {
        color: #F9F7E5;
        position: relative;
        margin-bottom: 4rem;
    }

    .hubungi-kami h1::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--primary-yellow);
        position: absolute;
        top: calc(2.7rem + 20px);
    }

    .icon__container {
        width: 30px;
        margin-bottom: 4rem;
        display: flex;
        flex-flow: row nowrap;
    }

    .icon__item {
        transition: ease 0.3s;
    }

    .icon__item:hover {
        transform: scale(1.2);
    }

    .icon__item a{
        display: inline-block;
        margin-right: 1rem;
        width: 30px;
    }

    .navigasi {
        margin-bottom: 4rem;
    }

    .navigasi li {
        list-style: none;
        margin-bottom: 1rem;
    }

    .navigasi li a {
        text-decoration: none;
        color: #F9F7E5;
        font-size: 1.5rem;
    }

    .alamat {
        margin-bottom: 4rem;
        font-size: 1.5rem;
    }
    
    .alamat address {
        color: #F9F7E5;
        font-size: 80%;
        line-height: 1.5em;
    }

    .copyright {
        font-size: 1rem;
        color: white;
        width: 100vw;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 1rem;
    }
    
}

@media screen and (min-width: 682px) {
    .menu-btn__burger {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        z-index: 100;
    }

    main {
        position: relative;
        overflow-x: hidden;
    }
    
    .about-us {
        margin: 0 auto;
        margin-top: 2rem;
        display: flex;
        flex-flow: row nowrap;
        gap: 5.02vw;
        max-width: 1000px;
    }

    .about-us img {
        width: 40%;
        max-width: 250px;
    }

    .about-us__caption {
        display: flex;
        flex-flow: column nowrap;
    }

    .about-us + img {
        display: none;
        position: absolute;
        opacity: 0.5;
        top: 362px;
        left: calc(100vw - 620px);
        transform: scale(0.5);
    }

    .overlay {
        height: auto;
        opacity: 100%;
        position: static;
        background-color: #00000000;
        margin-left: 3rem;
    }

    .overlay__content {
        position: inherit;
        width: 100%;
        max-width: 522px;
        margin-top: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-items: end;
        align-items: center;
        gap: 1.5em;
    }

    .overlay__content a {
        color: white;
        display: inline-block;
        font-size: 1.3rem;
        position: relative;
    }

    .overlay__content a::after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background-color: var(--primary-red);
        transform: scaleX(0);
        transition: ease 0.4s;
        margin-top: 0.5rem;
    }

    .overlay__content a:hover::after {
        transform: scaleX(1);
    }
    
}

@media screen and (min-width: 750px) {
    .about-us img {
        max-width: 340px;
        height: 100%;
    }
    
    .about-us + img {
        display: block;
    }

    .banner__caption {
        text-align: left;
        background-image: url(../assets/green-bg-banner.jpg);
        padding-top: 200px;
        padding-left: 8%;
        max-height: 500px;
    }

    h1, .banner__caption {
        font-size: 2.5rem;
    }

}

/* This media queries will start dividing the sections into grid */

@media screen and (min-width: 1000px) {
    h1, .banner__caption {
        font-size: 3.125rem;
    }

    p {
        font-size: 1.5625rem;
    }

    header img {
        width: 90px;
        margin-left: 1rem;
    }

    /* Menu resize */

    .container__soko-item:nth-child(odd) {
        display: flex;
        flex-flow: row nowrap;
        max-width: 1240px;
        margin: auto;
        gap: 2.5rem;
    }

    .container__soko-item:nth-child(2) {
        display: flex;
        flex-flow: row-reverse nowrap;
        max-width: 1240px;
        margin: auto;
        gap: 2.5rem;
    }

    .container__soko-item img {
        width: 35vw;
        max-width: 520px;
    }

    .group_soko {
        justify-content: center;
    }

    .container__soko-item:nth-child(odd) .title__soko-item {
        margin-left: 0;
    }
    .container__soko-item:nth-child(2) .title__soko-item {
        margin-left: auto;
        margin-right: 0;
        text-align: right;
    }

    .container__soko-item:nth-child(odd) .explanation__soko-item {
        text-align: left;
        max-width: 45ch;
    }
    .container__soko-item:nth-child(2) .explanation__soko-item {
        text-align: right;
    }

    /* Why Us */

    .why-us .container {
        display: flex;
        flex-flow: row nowrap;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .why-us p {
        font-size: 1.25rem;
        max-width: 25ch;
    }

    .why-us .alasan:nth-of-type(odd) h2 {
        height: 56px;
        padding-top: 1rem;
    }

        /* carousel */

        .testimoni__title {
            margin-bottom: 4rem;
        }

        .testimoni__item {
            margin-left: 2rem;
            width: 33%;
            max-width: 500px;
            counter-increment: testimoni__item;
        }

        .testimoni__items {
            background-color: rgba(250, 223, 148, 0.644);
        }

        .flickity-page-dots {
            bottom: 30px;
        }

    /* Hubungi kami */
    .hubungi-kami{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
        padding-bottom: 0.5rem;
    }

    .hubungi-kami h1 {
        font-size: 2.5rem;
        margin-bottom: 1em;
    }


    #map {
    width: 100%;
    height: 400px;
    background-color: grey;
    }


} 

